@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        STEM CENTER LABORATORIOS<br />
        UNIVERSIDAD FIDELITAS<br />
        <abbr title="Phone">P:</abbr>
        88079075
    </address>

    <address>
        <strong>University email:</strong>   <a href="mailto:jmorua80752@ufide.ac.cr">jmorua80752@ufide.ac.cr</a><br />
        <strong>Personal email:</strong> <a href="mailto:jorgemoruagonzalez@gmail.com">jorgemoruagonzalez@gmail.com</a>
    </address>
</main>